.c-footer {
  background-color: color(purple);
  color: color(white);
  text-align: center;
  padding: 1rem;
  width: 100%;
  text-decoration: uppercase;

  &__list {
    display: flex;
    justify-content: center;
    @include iota-breakpoint(md) {
      justify-content: flex-end;
    }
  }

  &__logo {
    color: color(white);
  }

  &__item {
    list-style: none;
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    font-size: 1.6rem;
    text-decoration: none;
    img {
      min-width: 1.6rem;
    }
  }
}
